.article {
  &__header {
    font-size: 1.75rem;
  }

  &__lead {
    font-size: 1.125rem;
    color: var(--blog__article-lead-color);
  }

  &__permalink {
    margin-left: .5rem;
    display: inline-flex;
    align-items: center;

    &::before {
      content: '';
      background: url('../assets/link-2.svg') center center no-repeat;
      background-size: contain;
      margin-right: .25rem;
      width: 1rem;
      height: 1rem;
    }
  }

  &__footer {
    border-top: 1px solid var(--blog__article-footer-border-color);
    border-bottom: 1px solid var(--blog__article-footer-border-color);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    > * {
      margin: 0.5rem 0;
    }
  }
}

.blog__commenting {
  @extend %main-grid;

  > * {
    grid-column: 1 / 24;
  }
}

.container .blog__index {
  margin-top: 2rem;
  @extend %main-grid;

  .article {
    &:nth-child(odd)  {
      grid-column: 1 / span 10;
    }

    &:nth-child(even) {
      grid-column: 14 / span 10;
    }

    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &__header {
      margin: 0 -2rem;
      padding: 2rem;
      height: 30vh;
      background: var(--font-color-dimmed);
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      text-shadow: 0 1px 2px gray;

      h1 {
        margin-bottom: 0;
        font-size: 1.25rem;
      }
    }

    &__intro {
      margin-top: 1rem;
    }

    &__read-more {
      align-self: flex-end;
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: .85rem;
      border-bottom: 0;

      svg {
        width: 1rem;
        height: 1rem;
      }

      span {
        transform: translateY(calc(100%));
        transition: all .5s ease-in-out;
      }

      &:hover span {
        transform: translateY(0);
      }
    }
  }
}
