@media (max-width: 768px) {
  /* @docs we switch to one column */
  .container {
    grid-template-columns: 1fr;
    gap: 0;

    .sidebar__handle {
      background: var(--sidebar-handle-background-color);
      border: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      z-index: 1;
      display: grid;
      align-content: center;
      position: fixed;
      height: 2.5rem;
      width: 2.5rem;
      top: 1rem;
      right: 1rem;
    }

    .blog__index {
      grid-column: 1 / -1;
      grid-template-columns: 1fr;
    }
  }

  /* @docs we hide the sidebar and show a handler button */
  .sidebar {
    width: 80vw;
    transform: translateX(-80vw);
    transition: transform .8s ease-in-out;

    &.is-active {
      transform: translateX(0);
      z-index: 10;

      .menu {
        border: none;
        margin-top: 0;

        a {
          color: var(--sidebar-active-font-color);
          text-align: center;
        }
      }
    }
  }

  /* @docs let's make some content elements play 😎 */
  .neos-contentcollection {
    .is-featured,
    .align-right,
    .align-left,
    .align-center {
      float: none;
      margin-right: 0;
      margin-left: 0;

      img {
        max-width: 100%;
      }
    }

    figcaption {
      padding-left: .5rem;
    }
  }
}
