.menu {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: var(--alternative-font-family);
  border-right: 1px solid var(--font-color-dimmed);
  padding: 2rem;
  
  a {
    line-height: 2.5;
    text-align: right;
  }
}
