.profile {
  padding: 2rem;
  text-align: center;

  a {
    border: none;
  }

  &__image {
    @extend %is-rounded;
    width: 8rem;
  }

  &__name {

  }

  &__details {
    font-size: .9rem;
  }
}
