.profile {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    border-radius: 50%;
    max-width: 50%;
  }

  &__name {
    margin-bottom: 0.5rem;
  }

  &__details {
    font-size: 0.75rem;
    color: var(--font-color-light);
    padding: 0 1rem;
  }
}
