.profile {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    border-radius: 50%;
    max-width: 50%;
  }

  &__name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.25rem;
  }

  &__details {
    font-size: .75rem;
    color: var(--font-color-light);
    padding: 0 1rem;
  }
}
