.socialmedia {
  margin: auto 2rem 2rem;
  align-self: flex-start;

  p {
    font-family: "Merriweather", serif;
    font-size: .85rem;
    margin-bottom: .5rem;
    margin-left: .25rem;
  }

  &__list {
    display: flex;
    justify-content: center;

    a {
      border-bottom: none;
    }
  }

  * {
    filter: grayscale(.8);
    transition: all .3s ease-in-out;

    &:hover {
      filter: grayscale(0);
      opacity: 1;

      * {
        opacity: 1;
      }
    }
  }
}

.a2a_button_strava {
  background-color: #fc5200;
  border-radius: 3px;
  padding: 2px;
  display: flex;
  align-items: center;
  margin-left: .1rem;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: .7;
  }
}
