html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100vw;
  padding: 2rem;
  flex-grow: 1;
}

.footer {
  width: 100vw;
}

@media (min-width: 769px) {
  .main {
    width: calc(80% - 2rem);
    margin-left: calc(20% + 2rem);
  }

  .footer {
  }
}
