%is-rounded {
  border-radius: 50%;

  + figcaption {
    text-align: center;
  }
}

.is-rounded {
  @extend %is-rounded;
}

.is-featured {
  margin: 0 -2rem 1rem;

  figcaption {
    margin-left: 2rem;
  }

  @media (min-width: 769px) {
    min-width: calc(100% + 2rem);
    img {
      min-width: 100%;
    }
    figcaption {
      margin-left: 0;
    }
  }
}

%inline-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.is-inline-list {
  @extend %inline-list;
}

.float {
  &-left {
    float: left;
    margin-right: 2rem;
  }

  &-right {
    float: right;
    margin-left: 2rem;
  }

  &-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.has-gradient {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
  }

  > * {
    z-index: 1;
  }
}
