.align {
  &-left {
    float: left;
    margin-right: 2rem;
  }

  &-right {
    float: right;
    margin-left: 2rem;
  }

  &-center {
    display: block;
    text-align: center;
  }
}

%is-rounded {
  img {
    border-radius: 50%;
  }

  + figcaption {
    text-align: center;
  }
}

.is-rounded {
  @extend %is-rounded;
}

.has-gradient {
  position: relative;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    );
    z-index: 2;
  }
}

.large-text {
  font-size: 1.125rem;
}
