html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  // Variables
  --grid-gap: 0;

  // Colors
  --default-background-color: white;
  --default-font-family: 'Merriweather', serif;
  --alternative-font-family: 'Lato', sans-serif;
  --font-color: #444;
  --font-color-light: #6a6a6a;
  --font-color-dimmed: #e8e8e8;

  // Sidebar
  --sidebar-default-background-color: white;
  --sidebar-active-background-color: #404040;
  --sidebar-default-font-color: var(--font-color);
  --sidebar-active-font-color: #fff;
  --sidebar-border-color: #333333;
  --sidebar-handle-background-color: rgba(255, 255, 255, .5);
  --sidebar-width: 20vw;

  // Main
  --main-background-color: white;
  --breadcrumbs-font-color: var(--font-color-light);

  // Footer
  --footer-background-color: white;
  --footer-font-color: var(--font-color-light);

  // Blog
  --blog__article-footer-border-color: rgba(51, 51, 51, .2);
  --blog__article-lead-color: #333;
}

body {
  margin: 0;
  min-height: 100%;
}

/* @docs load all partials */
@import '_typography.scss';
@import '_structure.scss';
@import '_profile.scss';
@import '_menu.scss';
@import '_follow.scss';
@import '_utils.scss';
@import '_blog.scss';

  .main {
    background-color: var(--main-background-color);

    /* @docs a little top and bottom so we have some room there */
    padding: 2rem 0;

    .breadcrumbs {
      font-family: var(--alternative-font-family);
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      a {
        margin: 0 .5rem;
        border: none;
        color: var(--breadcrumbs-font-color);
        font-style: italic;
        font-size: .75rem;
        text-transform: uppercase;

        &:first-child {
          margin-left: 0;
        }
      }

      span:last-child {
        display: none;
      }
    }

    .sidebar__handle {
      display: none;
    }

  }

  .footer {
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
    font-size: .85rem;
    padding: 1rem;
    text-align: center;

    p {
      margin: 0;
    }
  }

.sidebar {
  background-color: var(--sidebar-default-background-color);
  color: var(--sidebar-font-color);
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  overflow-y: auto;

  a {
    border: none;
  }

  &.is-active {
    background-color: var(--sidebar-active-background-color);
    color: var(--sidebar-active-font-color);
  }
}

@import '_media-queries.scss';
