@import url(https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap);
@charset "UTF-8";
html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

:root {
  --grid-gap: 0;
  --default-background-color: white;
  --default-font-family: 'Merriweather', serif;
  --alternative-font-family: 'Lato', sans-serif;
  --font-color: #444;
  --font-color-light: #6a6a6a;
  --font-color-dimmed: #e8e8e8;
  --sidebar-default-background-color: white;
  --sidebar-active-background-color: #404040;
  --sidebar-default-font-color: var(--font-color);
  --sidebar-active-font-color: #fff;
  --sidebar-border-color: #333333;
  --sidebar-handle-background-color: rgba(255, 255, 255, .5);
  --sidebar-width: 20vw;
  --main-background-color: white;
  --breadcrumbs-font-color: var(--font-color-light);
  --footer-background-color: white;
  --footer-font-color: var(--font-color-light);
  --blog__article-footer-border-color: rgba(51, 51, 51, .2);
  --blog__article-lead-color: #333; }

body {
  margin: 0;
  min-height: 100%; }

/* @docs load all partials */
:root {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  color: var(--font-color); }

figure {
  margin: 0 0 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  figure img {
    max-width: 100%;
    height: auto; }
  figure figcaption {
    font-size: .85rem;
    line-height: 1;
    margin-top: .5rem;
    color: var(--font-color-light); }

blockquote {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  position: relative; }
  blockquote::after {
    content: '\201D';
    color: var(--font-color-dimmed);
    font-size: 8rem;
    font-style: italic;
    font-weight: bold;
    opacity: .5;
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: 0; }
  blockquote > * {
    z-index: 1; }
  blockquote cite {
    align-self: flex-end;
    font-style: normal;
    color: var(--font-color-light);
    font-family: var(--alternative-font-family); }
    blockquote cite::before {
      content: '—';
      margin-right: .35rem; }

p {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--alternative-font-family);
  line-height: 1.25; }

h1 {
  font-size: 1.75rem; }

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem; }

a:link, a:visited, a:active {
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 1px solid var(--font-color-dimmed); }

.container .main, .container .footer, .container .primary-content, .container .blog__article, .container .blog__article > .neos-contentcollection, .container .blog__commenting {
  display: grid;
  grid-template-columns: 2rem minmax(0, 800px) 1fr 2rem;
  -webkit-box-align: start;
          align-items: start; }
  .container .main > *, .container .footer > *, .container .primary-content > *, .container .blog__article > *, .container .blog__article > .neos-contentcollection > *, .container .blog__commenting > * {
    grid-column: 2; }
  @media (max-width: 768px) {
    .container .main, .container .footer, .container .primary-content, .container .blog__article, .container .blog__article > .neos-contentcollection, .container .blog__commenting {
      grid-template-columns: 1rem 1fr 1rem; } }

.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  gap: var(--grid-gap);
  min-height: 100vh;
  /**
    @docs Specific Blog setup
   */ }
  .container .main {
    grid-column: 2; }
    .container .main > * {
      grid-column: 1 / -1; }
    .container .main .breadcrumbs {
      grid-column: 2; }
  .container .footer {
    grid-column: 2;
    grid-row: 2; }
  .container .blog__article > .neos-contentcollection {
    grid-column: 1 / -1; }
    .container .blog__article > .neos-contentcollection .is-featured {
      grid-column: 1 / -1; }
      .container .blog__article > .neos-contentcollection .is-featured figcaption {
        padding-left: 1rem; }
  .container .blog__last-post {
    grid-column: 1 / -1; }
  .container .blog__index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem; }

.profile {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center; }
  .profile img {
    border-radius: 50%;
    max-width: 50%; }
  .profile__name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.25rem; }
  .profile__details {
    font-size: .75rem;
    color: var(--font-color-light);
    padding: 0 1rem; }

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 2rem;
  font-family: var(--alternative-font-family);
  border-right: 1px solid var(--font-color-dimmed);
  padding: 2rem; }
  .menu a {
    line-height: 2.5;
    text-align: right; }

.follow {
  justify-self: flex-end;
  margin-top: auto;
  line-height: 1;
  color: var(--font-color-light); }
  .follow .a2a_button_strava {
    background-color: #fc5200;
    border-radius: 3px;
    padding: 2px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-left: .1rem; }
    .follow .a2a_button_strava img {
      width: 20px;
      height: 20px; }
    .follow .a2a_button_strava:hover {
      opacity: .7; }

.align-left {
  float: left;
  margin-right: 2rem; }

.align-right {
  float: right;
  margin-left: 2rem; }

.align-center {
  display: block;
  text-align: center; }

.is-rounded img {
  border-radius: 50%; }

.is-rounded + figcaption {
  text-align: center; }

.has-gradient {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .has-gradient::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    z-index: 2; }

.large-text {
  font-size: 1.125rem; }

.article__header {
  font-size: 1.75rem; }

.article__lead {
  font-size: 1.125rem;
  color: var(--blog__article-lead-color); }

.article__publicationDate {
  margin-left: .25rem; }

.article__permalink {
  margin-left: .5rem;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center; }
  .article__permalink::before {
    content: '';
    background: url("../assets/link-2.svg") center center no-repeat;
    background-size: contain;
    margin-right: .25rem;
    width: 1rem;
    height: 1rem; }

.article__footer {
  border-top: 1px solid var(--blog__article-footer-border-color);
  border-bottom: 1px solid var(--blog__article-footer-border-color);
  font-size: .75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin: 2rem 0; }
  .article__footer > * {
    margin: .5rem 0; }

.container .blog__index {
  margin-top: 2rem; }
  .container .blog__index .article {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 2rem; }
    .container .blog__index .article__header {
      margin: 0;
      padding: 1rem;
      height: 30vh;
      background: var(--font-color-dimmed);
      background-size: cover;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: end;
              justify-content: flex-end;
      color: white;
      text-shadow: 0 1px 2px gray; }
      .container .blog__index .article__header h1 {
        margin-bottom: 0;
        font-size: 1.25rem; }
    .container .blog__index .article__intro {
      padding: 1rem; }
    .container .blog__index .article__read-more {
      align-self: flex-end;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      overflow: hidden;
      font-size: .85rem;
      border-bottom: 0;
      margin-right: 1rem; }
      .container .blog__index .article__read-more svg {
        width: 1rem;
        height: 1rem; }
      .container .blog__index .article__read-more span {
        -webkit-transform: translateY(calc(100%));
                transform: translateY(calc(100%));
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      .container .blog__index .article__read-more:hover span {
        -webkit-transform: translateY(0);
                transform: translateY(0); }

.main {
  background-color: var(--main-background-color);
  /* @docs a little top and bottom so we have some room there */
  padding: 2rem 0; }
  .main .breadcrumbs {
    font-family: var(--alternative-font-family);
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
            align-items: center; }
    .main .breadcrumbs a {
      margin: 0 .5rem;
      border: none;
      color: var(--breadcrumbs-font-color);
      font-style: italic;
      font-size: .75rem;
      text-transform: uppercase; }
      .main .breadcrumbs a:first-child {
        margin-left: 0; }
    .main .breadcrumbs span:last-child {
      display: none; }
  .main .sidebar__handle {
    display: none; }

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-font-color);
  font-size: .85rem;
  padding: 1rem;
  text-align: center; }
  .footer p {
    margin: 0; }

.sidebar {
  background-color: var(--sidebar-default-background-color);
  color: var(--sidebar-font-color);
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-items: flex-start;
  overflow-y: auto; }
  .sidebar a {
    border: none; }
  .sidebar.is-active {
    background-color: var(--sidebar-active-background-color);
    color: var(--sidebar-active-font-color); }

@media (max-width: 768px) {
  /* @docs we switch to one column */
  .container {
    grid-template-columns: 1fr;
    gap: 0; }
    .container .sidebar__handle {
      background: var(--sidebar-handle-background-color);
      border: none;
      cursor: pointer;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      z-index: 1;
      display: grid;
      align-content: center;
      position: fixed;
      height: 2.5rem;
      width: 2.5rem;
      top: 1rem;
      right: 1rem; }
    .container .blog__index {
      grid-column: 1 / -1;
      grid-template-columns: 1fr; }
  /* @docs we hide the sidebar and show a handler button */
  .sidebar {
    width: 80vw;
    -webkit-transform: translateX(-80vw);
            transform: translateX(-80vw);
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out; }
    .sidebar.is-active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      z-index: 10; }
      .sidebar.is-active .menu {
        border: none;
        margin-top: 0; }
        .sidebar.is-active .menu a {
          color: var(--sidebar-active-font-color);
          text-align: center; }
  /* @docs let's make some content elements play 😎 */
  .neos-contentcollection .is-featured,
  .neos-contentcollection .align-right,
  .neos-contentcollection .align-left,
  .neos-contentcollection .align-center {
    float: none;
    margin-right: 0;
    margin-left: 0; }
    .neos-contentcollection .is-featured img,
    .neos-contentcollection .align-right img,
    .neos-contentcollection .align-left img,
    .neos-contentcollection .align-center img {
      max-width: 100%; }
  .neos-contentcollection figcaption {
    padding-left: .5rem; } }

