@import url(https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap);
@charset "UTF-8";
html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

:root {
  --default-background-color: white;
  --default-font-family: 'Merriweather', serif;
  --alternative-font-family: 'Lato', sans-serif;
  --font-color: #444;
  --font-color-light: #6a6a6a;
  --font-color-dimmed: #e8e8e8;
  --sidebar-default-background-color: white;
  --sidebar-open-background-color: #404040;
  --sidebar-default-font-color: var(--font-color);
  --sidebar-open-font-color: #fff;
  --sidebar-border-color: #333333;
  --sidebar-handle-background-color: rgba(255, 255, 255, 0.2);
  --sidebar-width: 20vw;
  --main-background-color: var(--default-background-color);
  --breadcrumbs-font-color: var(--font-color-light);
  --footer-background-color: var(--default-background-color);
  --footer-font-color: var(--font-color-light);
  --blog__article-footer-border-color: rgba(51, 51, 51, 0.2);
  --blog__article-lead-color: #333; }

body {
  margin: 0;
  min-height: 100%; }

/* @docs load all partials */
:root {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  color: var(--font-color); }

figure {
  margin: 0 0 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  figure picture {
    min-width: 100%; }
  figure img {
    min-width: 100%;
    max-width: 100%; }
  figure figcaption {
    font-size: 0.85rem;
    line-height: 1;
    margin-top: 0.5rem;
    color: var(--font-color-light); }

blockquote {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  position: relative; }
  blockquote::after {
    content: '\201D';
    color: var(--font-color-dimmed);
    font-size: 8rem;
    font-style: italic;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: 0; }
  blockquote > * {
    z-index: 1; }
  blockquote cite {
    align-self: flex-end;
    font-style: normal;
    color: var(--font-color-light);
    font-family: var(--alternative-font-family); }
    blockquote cite::before {
      content: '—';
      margin-right: 0.35rem; }

p {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--alternative-font-family);
  line-height: 1.25; }

h1 {
  font-size: 1.75rem; }

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem; }

a:link, a:visited, a:active {
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 1px solid var(--font-color-dimmed); }

.profile {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center; }
  .profile img {
    border-radius: 50%;
    max-width: 50%; }
  .profile__name {
    margin-bottom: 0.5rem; }
  .profile__details {
    font-size: 0.75rem;
    color: var(--font-color-light);
    padding: 0 1rem; }

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 2rem;
  font-family: var(--alternative-font-family);
  border-right: 1px solid var(--font-color-dimmed);
  padding: 2rem; }
  .menu a {
    line-height: 2.5;
    text-align: right; }

.follow {
  justify-self: flex-end;
  margin-top: auto;
  line-height: 1;
  color: var(--font-color-light); }
  .follow .a2a_button_strava {
    background-color: #fc5200;
    border-radius: 3px;
    padding: 2px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-left: 0.1rem; }
    .follow .a2a_button_strava img {
      width: 20px;
      height: 20px; }
    .follow .a2a_button_strava:hover {
      opacity: 0.7; }

.align-left {
  float: left;
  margin-right: 2rem; }

.align-right {
  float: right;
  margin-left: 2rem; }

.align-center {
  display: block;
  text-align: center; }

.is-rounded img {
  border-radius: 50%; }

.is-rounded + figcaption {
  text-align: center; }

.has-gradient {
  position: relative;
  display: -webkit-box;
  display: flex; }
  .has-gradient::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    z-index: 2; }

.large-text {
  font-size: 1.125rem; }

.article__header {
  font-size: 1.75rem; }

.article__lead {
  font-size: 1.125rem;
  color: var(--blog__article-lead-color); }

.article__permalink {
  margin-left: .5rem;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center; }
  .article__permalink::before {
    content: '';
    background: url("../assets/link-2.svg") center center no-repeat;
    background-size: contain;
    margin-right: .25rem;
    width: 1rem;
    height: 1rem; }

.article__footer {
  border-top: 1px solid var(--blog__article-footer-border-color);
  border-bottom: 1px solid var(--blog__article-footer-border-color);
  font-size: 0.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin: 2rem 0; }
  .article__footer > * {
    margin: 0.5rem 0; }

.blog__commenting > * {
  grid-column: 1 / 24; }

.container .blog__index {
  margin-top: 2rem; }
  .container .blog__index .article {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 2rem; }
    .container .blog__index .article:nth-child(odd) {
      grid-column: 1 / span 10; }
    .container .blog__index .article:nth-child(even) {
      grid-column: 14 / span 10; }
    .container .blog__index .article__header {
      margin: 0 -2rem;
      padding: 2rem;
      height: 30vh;
      background: var(--font-color-dimmed);
      background-size: cover;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: end;
              justify-content: flex-end;
      color: white;
      text-shadow: 0 1px 2px gray; }
      .container .blog__index .article__header h1 {
        margin-bottom: 0;
        font-size: 1.25rem; }
    .container .blog__index .article__intro {
      margin-top: 1rem; }
    .container .blog__index .article__read-more {
      align-self: flex-end;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      overflow: hidden;
      font-size: .85rem;
      border-bottom: 0; }
      .container .blog__index .article__read-more svg {
        width: 1rem;
        height: 1rem; }
      .container .blog__index .article__read-more span {
        -webkit-transform: translateY(calc(100%));
                transform: translateY(calc(100%));
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      .container .blog__index .article__read-more:hover span {
        -webkit-transform: translateY(0);
                transform: translateY(0); }

/*
    @docs
    =====
    we will be re-using the same grid a couple of times,
    mostly for consistency sake - but we are aware this
    is a bit confusing maybe 💩
*/
.blog__commenting, .container .blog__index, .container .main, .container .main > section article, .container .main > section article > .neos-contentcollection, .container .footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr)); }

.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  gap: 1rem;
  min-height: 100vh; }
  .container.gapless {
    grid-gap: 0; }
  .container .main {
    background-color: var(--main-background-color);
    grid-column: 2;
    grid-row: 1;
    /* @docs a little top and bottom so we have some room there */
    padding: 2rem 0; }
    .container .main .breadcrumbs {
      grid-column: 2 / 18;
      font-family: var(--alternative-font-family);
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
      .container .main .breadcrumbs a {
        margin: 0 0.5rem;
        border: none;
        color: var(--breadcrumbs-font-color);
        font-style: italic;
        font-size: 0.75rem;
        text-transform: uppercase; }
        .container .main .breadcrumbs a:first-child {
          margin-left: 0; }
      .container .main .breadcrumbs span:last-child {
        display: none; }
    .container .main .sidebar__handle {
      display: none;
      background: var(--sidebar-handle-background-color);
      border: none;
      cursor: pointer;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      z-index: 1; }
    .container .main > section {
      grid-column: 2 / -1; }
      .container .main > section article > * {
        grid-column: 1 / 24; }
      .container .main > section article > .neos-contentcollection {
        grid-column: 1 / -1;
        width: calc(100% - 2rem); }
        .container .main > section article > .neos-contentcollection > * {
          grid-column: 1 / 24; }
        .container .main > section article > .neos-contentcollection .is-featured {
          grid-column: 1 / -1;
          margin-right: -2rem; }
        .container .main > section article > .neos-contentcollection .align-left {
          margin-left: -2rem; }
        .container .main > section article > .neos-contentcollection .align-right {
          margin-right: -2rem; }
        .container .main > section article > .neos-contentcollection blockquote {
          grid-column: 3 / 18; }
  .container .footer {
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
    font-size: 0.85rem;
    padding: 1rem;
    grid-column: 2;
    grid-row: 2; }
    .container .footer > * {
      grid-column: 1 / 24;
      text-align: center; }
    .container .footer p {
      margin: 0; }

.sidebar {
  background-color: var(--sidebar-default-background-color);
  color: var(--sidebar-font-color);
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-items: flex-start;
  overflow-y: auto; }
  .sidebar a {
    border: none; }
  .sidebar.is-active {
    background-color: var(--sidebar-open-background-color);
    color: var(--sidebar-open-font-color); }

@media (max-width: 1040px) {
  /* @docs we switch to one column */
  .container {
    grid-template-columns: 1fr;
    gap: 0; }
    .container .main > section article > * {
      grid-column: 1 / -2; }
    .container .blog__commenting > * {
      grid-column: 1 / -2; }
    .container .blog__index {
      grid-column: 1 / -2; }
      .container .blog__index .article:nth-child(odd),
      .container .blog__index .article:nth-child(even) {
        grid-column: 1 / -2; }
  /* @docs we hide the sidebar and show a handler button */
  .sidebar {
    -webkit-transform: translateX(-85vw);
            transform: translateX(-85vw);
    width: 85vw;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out; }
    .sidebar.is-active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      z-index: 10; }
      .sidebar.is-active .menu {
        border: none;
        margin-top: 0; }
        .sidebar.is-active .menu a {
          color: var(--sidebar-open-font-color);
          text-align: center; }
  .container .main .sidebar__handle {
    display: grid;
    -webkit-box-pack: center;
            justify-content: center;
    align-content: center;
    position: fixed;
    height: 2rem;
    width: 2rem;
    top: 2rem;
    right: 3rem; }
  /* @docs let's make some content elements play 😎 */
  .container .main > section article > .neos-contentcollection .is-featured,
  .container .main > section article > .neos-contentcollection .align-right,
  .container .main > section article > .neos-contentcollection .align-left,
  .container .main > section article > .neos-contentcollection .align-center {
    float: none;
    margin-right: 0;
    margin-left: 0; }
    .container .main > section article > .neos-contentcollection .is-featured img,
    .container .main > section article > .neos-contentcollection .align-right img,
    .container .main > section article > .neos-contentcollection .align-left img,
    .container .main > section article > .neos-contentcollection .align-center img {
      min-width: 100%;
      max-width: 100%; }
  .container .main > section article > .neos-contentcollection .is-featured {
    margin-left: -2rem;
    margin-right: -2rem;
    width: calc(100% + 4rem); }
  .container .main > section article > .neos-contentcollection figcaption {
    padding-left: 0.5rem; }
  .container .main > section article > .neos-contentcollection blockquote {
    grid-column: 1 / -1; } }

